In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

create_folder('Data/Indices')

Already Exists

In [4]:
year = 1383
for year in range(1383,1403):
    exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")
    imports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Imports.xlsx")

    print(year)
    Exports = pd.read_excel(exports_path)
    Exports.dropna(axis=0, subset= ["Country"], inplace=True)

    #Imports = pd.read_excel(imports_path)
    Exports['Tcode']=Exports['Tcode'].astype(int)
    Exports['HS6']=(Exports['Tcode']//100).astype(int)

    HSs_agg=Exports.groupby("Tcode").agg(
        Dollars = ("Dollars","sum")
    ).reset_index()

    HSs_agg_HS6=Exports.groupby("HS6").agg(
        Dollars = ("Dollars","sum")
    ).reset_index()    

    HSs_agg['Share2'] = (HSs_agg['Dollars']/HSs_agg['Dollars'].sum())**2 
    HSs_agg_HS6['Share2'] = (HSs_agg_HS6['Dollars']/HSs_agg_HS6['Dollars'].sum())**2 


    HSs_agg_HS6_FIRST20 = HSs_agg_HS6.sort_values(by='Share2', ascending=False)

# Keep only the first 20 rows
    HSs_agg_HS6_FIRST20 = HSs_agg_HS6_FIRST20.head(20)

    HSs_agg_HS6_FIRST20.to_excel(f'{my_wd}\Data\Indices\Concentrationfirst20Y{year}.xlsx',index=False)

    HS6_unique_values = len(Exports["Tcode"].unique())
    HSs_agg['Under10']= np.where(HSs_agg['Dollars']<10000,  1, 0)
    HSs_agg['f10to100'] = np.where((HSs_agg['Dollars']>=10000) & (HSs_agg['Dollars']<100000) , 1, 0)
    HSs_agg['Over10'] = np.where(HSs_agg['Dollars']>=10000, 1, 0)
    HSs_agg['Over100'] = np.where(HSs_agg['Dollars']>=100000, 1, 0)



    HSs_agg_HS6['Under10']= np.where(HSs_agg_HS6['Dollars']<10000,  1, 0)
    HSs_agg_HS6['f10to100'] = np.where((HSs_agg_HS6['Dollars']>=10000) & (HSs_agg_HS6['Dollars']<100000) , 1, 0)
    HSs_agg_HS6['Over10'] = np.where(HSs_agg_HS6['Dollars']>=10000, 1, 0)
    HSs_agg_HS6['Over100'] = np.where(HSs_agg_HS6['Dollars']>=100000, 1, 0)

    if year == 1383:
        HS6_uniques_series = pd.DataFrame()
        HS6_uniques_series_HS6 = pd.DataFrame()
        
    HS6_uniques = pd.DataFrame({"Year": [year], "Count": [len(Exports["Tcode"].unique())] , "veriaty": sum(HSs_agg['Share2']), "veriaty_HS6": sum(HSs_agg_HS6['Share2']),
                                "Under10": sum(HSs_agg['Under10']), "f10to100": sum(HSs_agg['f10to100']) , "Over10": sum(HSs_agg['Over10']), "Over100": sum(HSs_agg['Over100']) })
    
    HS6_uniques_HS6 = pd.DataFrame({"Year": [year], "Count": [len(HSs_agg_HS6["HS6"].unique())] , "veriaty": sum(HSs_agg_HS6['Share2']), "veriaty_HS6": sum(HSs_agg_HS6['Share2']),
                                "Under10": sum(HSs_agg_HS6['Under10']), "f10to100": sum(HSs_agg_HS6['f10to100']) , "Over10": sum(HSs_agg_HS6['Over10']), "Over100": sum(HSs_agg_HS6['Over100']) })

    HS6_uniques_series = pd.concat([HS6_uniques_series,HS6_uniques])

    HS6_uniques_series_HS6 = pd.concat([HS6_uniques_series_HS6,HS6_uniques_HS6])

1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402

In [22]:
HS6_uniques_series

   Year  Count   veriaty  veriaty_HS6  Under10  f10to100  Over10  Over100
0  1383   3077  0.021308     0.021916      796       937    2281     1344
0  1384   3343  0.017717     0.018626      803       981    2540     1559
0  1385   3557  0.018398     0.019642      786      1047    2771     1724
0  1386   3302  0.021012     0.021408      730       955    2572     1617
0  1387   3239  0.018430     0.019300      711       889    2528     1639
0  1388   3285  0.014795     0.016502      730       895    2555     1660
0  1389   3336  0.016119     0.018634      722       910    2614     1704
0  1390   3267  0.018442     0.020919      660       878    2607     1729
0  1391   3417  0.013210     0.015478      671       969    2746     1777
0  1392   3500  0.014289     0.017509      735       921    2765     1844
0  1393   3652  0.016350     0.019481      702      1023    2950     1927
0  1394   3554  0.014852     0.018338      731       991    2823     1832
0  1395   3721  0.040056     0.041868      906      1025    2815     1790
0  1396   3893  0.033743     0.035913      950      1044    2943     1899
0  1397   4299  0.024392     0.026477     1000      1149    3299     2150
0  1398   3956  0.013946     0.017554      940      1112    3016     1904
0  1399   3990  0.017671     0.022120     1086      1077    2904     1827
0  1400   3935  0.026543     0.029437     1002      1055    2933     1878
0  1401   4281  0.035538     0.038590     1091      1132    3190     2058
0  1402   4390  0.020900     0.022588     1108      1187    3282     2095

In [24]:
HS6_uniques_series_HS6

   Year  Count   veriaty  veriaty_HS6  Under10  f10to100  Over10  Over100
0  1383   2601  0.021916     0.021916      633       770    1968     1198
0  1384   2765  0.018626     0.018626      614       779    2151     1372
0  1385   2913  0.019642     0.019642      585       835    2328     1493
0  1386   2717  0.021408     0.021408      566       745    2151     1406
0  1387   2642  0.019300     0.019300      537       684    2105     1421
0  1388   2656  0.016502     0.016502      541       687    2115     1428
0  1389   2612  0.018634     0.018634      521       665    2091     1426
0  1390   2563  0.020919     0.020919      471       653    2092     1439
0  1391   2699  0.015478     0.015478      488       722    2211     1489
0  1392   2733  0.017509     0.017509      527       684    2206     1522
0  1393   2838  0.019481     0.019481      507       724    2331     1607
0  1394   2738  0.018338     0.018338      510       718    2228     1510
0  1395   2891  0.041868     0.041868      636       771    2255     1484
0  1396   2976  0.035913     0.035913      649       756    2327     1571
0  1397   3191  0.026477     0.026477      643       831    2548     1717
0  1398   2972  0.017554     0.017554      625       779    2347     1568
0  1399   2908  0.022120     0.022120      687       748    2221     1473
0  1400   2887  0.029437     0.029437      641       726    2246     1520
0  1401   3030  0.038590     0.038590      661       734    2369     1635
0  1402   3108  0.022588     0.022588      668       792    2440     1648

In [25]:
HS6_uniques_series_HS6.to_excel(f'{my_wd}\Data\Indices\Concentration_Variaty_new.xlsx',index=False)

In [13]:
#HS6_uniques_series.to_excel(f'{my_wd}\Data\Indices\Concentration_Veriaty.xlsx',index=False)

In [6]:
year = 1383
exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")

Exports = pd.read_excel(exports_path)

Exports.dropna(axis=0, subset= ["Country"], inplace=True)

Countries_83 = Exports['Country'].unique()

In [12]:
year=1402
exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")

Exports = pd.read_excel(exports_path)

Exports.dropna(axis=0, subset= ["Country"], inplace=True)

Countries_02 = Exports['Country'].unique()

In [15]:
Countries_83_Col = pd.DataFrame(data={'Y1383':Countries_83})
Countries_02_Col = pd.DataFrame(data={'Y1402':Countries_02})

In [16]:
Countries_83_Col.to_excel(f'{my_wd}\Data\Indices\Countries83.xlsx',index=False)
Countries_02_Col.to_excel(f'{my_wd}\Data\Indices\Countries02.xlsx',index=False)

In [6]:
year=1401
exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")

Exports = pd.read_excel(exports_path)

Exports.dropna(axis=0, subset= ["Country"], inplace=True)

Countries_01 = Exports['Country'].unique()
Countries_01_Col = pd.DataFrame(data={'Y1401':Countries_01})
Countries_01_Col.to_excel(f'{my_wd}\Data\Indices\Countries01.xlsx',index=False)

In [10]:
year=1401
for year in range(1383,1403):
    exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")

    Exports = pd.read_excel(exports_path)

    Exports.dropna(axis=0, subset= ["Country"], inplace=True)

    Countries_01 = Exports['Country'].unique()
    Countries_01_Col = pd.DataFrame(data={f'Y{year}':Countries_01})
    Countries_01_Col.to_excel(f'{my_wd}\Data\Indices\Countries{year}.xlsx',index=False)

1383: 151
1384: 142
1385: 152
1386: 159
1387: 165
1388: 157
1389: 157
1390: 149
1391: 147
1392: 143
1393: 137
1394: 142
1395: 149
1396: 148
1397: 145
1398: 142
1399: 142
1400: 151
1401:144

Variaty is the true one