In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Set the working directory
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

create_folder('Data/Indices')

Already Exists

In [8]:
Economic_Openness_Path = os.path.join(my_wd"Data/Indices/Economic_Openness.xlsx")


Economic_Openness = pd.read_excel(Economic_Openness_Path)

Economic_Openness

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162.882052,145.833663,142.239763,143.804296,145.213552,145.343573,124.162375,139.900087,160.459257,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.894281,54.721312,51.777530,51.535283,54.256245,51.631581,49.478625,54.700030,57.159483,NaN
2,Afghanistan,11.157027,12.550610,14.227644,26.035511,26.944448,32.671083,27.142857,20.982735,24.110033,...,NaN,NaN,NaN,NaN,NaN,NaN,46.709895,51.411716,NaN,NaN
3,Africa Western and Central,33.219394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.332923,62.888516,53.370158,52.256822,66.378013,57.829538,65.942029,74.464499,68.170100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.076052,74.020442,75.018812,80.410137,86.315085,85.753409,75.608017,98.638430,109.514057,NaN
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.837171,31.637538,32.646271,44.952433,58.902279,NaN,NaN,NaN,NaN,NaN
263,South Africa,46.855497,43.748103,43.352354,44.976138,45.948478,45.516872,42.094375,42.491815,41.293329,...,59.499574,56.726676,55.861258,53.535932,54.485545,53.897996,50.686843,56.084625,65.060735,NaN
264,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.193663,79.865417,73.958561,71.585695,74.888370,68.791205,79.325488,86.208511,69.297315,NaN
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.671615,56.748811,51.219025,50.029712,54.550270,55.795961,47.313365,50.847128,64.956641,NaN

In [42]:
ranked_df = Economic_Openness.set_index("Country Name").rank(axis=0, method='average', numeric_only=True, na_option="keep",
                                                             ascending=False).reset_index()

ranked_df_Iran=ranked_df[ranked_df['Country Name']=="Iran, Islamic Rep."]


Iran_Economic_Openness= Economic_Openness[Economic_Openness['Country Name']=="Iran, Islamic Rep."]

CountriesNumbers=Iran_Economic_Openness.copy()

CountriesNumbers_columns=CountriesNumbers.columns[1:]

for i in CountriesNumbers_columns:
    CountriesNumbers[i]=Economic_Openness[i].count()

CountriesNumbers['Country Name']= "Total Observations"

CountriesNumbers

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
112,Total Observations,87,84,86,86,87,92,94,97,98,...,226,228,227,227,225,221,218,213,198,0

In [45]:
EO=pd.concat([Iran_Economic_Openness,ranked_df_Iran])

EO=pd.concat([EO,CountriesNumbers])

EO.to_excel(f'{my_wd}/Data/Indices/Economic_Openness_Modified.xlsx', index=False)