In [3]:
import pandas as pd
import numpy as np
import os
from openpyxl import load_workbook

In [2]:
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

In [6]:
wb.sheetnames

['Sheet1',
 'Sheet2',
 'Sheet3',
 'Sheet4',
 'Sheet5',
 'Sheet6',
 'Sheet7',
 'Sheet8',
 'Sheet9',
 'Sheet10',
 'Sheet11',
 'Sheet12',
 'Sheet13',
 'Sheet14',
 'Sheet15',
 'Sheet16',
 'Sheet17',
 'Sheet18',
 'Sheet19',
 'Sheet20',
 'Sheet21',
 'Sheet22',
 'Sheet23',
 'Sheet24']

In [41]:
#Imports = pd.read_excel(f'C:/TradeGroup/Reports/Eurasia/گزارش/{country}_Imports_Product.xlsx')
wb = load_workbook(filename=f'C:/TradeGroup/Reports/Eurasia/P118.xlsx')

P118 = pd.DataFrame()

for sheet_name in wb.sheetnames:
    P118_Sheet = pd.read_excel(f'C:/TradeGroup/Reports/Eurasia/P118.xlsx', sheet_name, index_col=None)
    P118 = pd.concat([P118,P118_Sheet])

P118.to_excel(f'C:/TradeGroup/Reports/Eurasia/P118_Cleaned.xlsx',index=False)

In [20]:
wb = load_workbook(filename=f'C:/TradeGroup/Reports/Eurasia/P166.xlsx')

P166 = pd.DataFrame()

for sheet_name in wb.sheetnames:
    P166_Sheet = pd.read_excel(f'C:/TradeGroup/Reports/Eurasia/P166.xlsx', sheet_name, index_col=None)
    P166 = pd.concat([P166,P166_Sheet])

P166.to_excel(f'C:/TradeGroup/Reports/Eurasia/P166_Cleaned.xlsx',index=False)

In [95]:
wb = load_workbook(filename=f'C:/TradeGroup/Reports/Eurasia/P174.xlsx')

P174 = pd.DataFrame()

for sheet_name in wb.sheetnames:
    P174_Sheet = pd.read_excel(f'C:/TradeGroup/Reports/Eurasia/P174.xlsx', sheet_name, index_col=None)
    P174 = pd.concat([P174,P174_Sheet])

P174.to_excel(f'C:/TradeGroup/Reports/Eurasia/P174_Cleaned.xlsx',index=False)

In [91]:
wb = load_workbook(filename=f'C:/TradeGroup/Reports/Eurasia/P226.xlsx')

P226 = pd.DataFrame()

for sheet_name in wb.sheetnames:
    P226_Sheet = pd.read_excel(f'C:/TradeGroup/Reports/Eurasia/P226.xlsx', sheet_name, index_col=None)
    P226 = pd.concat([P226,P226_Sheet])

P226.to_excel(f'C:/TradeGroup/Reports/Eurasia/P226_Cleaned.xlsx',index=False)

In [85]:
P118['HS Code '] = P118['HS Code '].str.replace(" ", "")
P118['HS Code '] = P118['HS Code '].str.replace("ex", "")
P118 = P118.dropna(axis=0)
P118['Tcode']= P118['HS Code '].astype('float')
P118['HS6']= P118['HS Code '].astype('float')
P118 = P118.reset_index(drop=True)
P118.loc[(P118['HS6'] / 1000000 > 10), 'HS6'] = P118['HS6'] // 10000
P118.to_excel(f'C:/TradeGroup/Reports/Eurasia/P118_Cleaned_Totest.xlsx',index=False)

In [86]:
P166['HS Code '] = P166['HS Code '].str.replace(" ", "")
P166['HS Code '] = P166['HS Code '].str.replace("ex", "")
P166 = P166.dropna(axis=0)
P166['Tcode']= P166['HS Code '].astype('float')
P166['HS6']= P166['HS Code '].astype('float')
P166 = P166.reset_index(drop=True)
P166.loc[(P166['HS6'] / 1000000 > 10), 'HS6'] = P166['HS6'] // 10000
P166.to_excel(f'C:/TradeGroup/Reports/Eurasia/P166_Cleaned_Totest.xlsx',index=False)

In [101]:
P174['HS Code '] = P174['HS Code '].str.replace(" ", "")
P174['HS Code '] = P174['HS Code '].str.replace("ex", "")
P174 = P174.dropna(axis=0)
P174['Tcode']= P174['HS Code '].astype('float')
P174['HS6']= P174['HS Code '].astype('float')
P174 = P174.reset_index(drop=True)

P174.loc[(P174['HS6'] / 100000000 > 10), 'HS6'] = P174['HS6'] // 10000
P174.loc[(P174['HS6'] / 1000000 > 10), 'HS6'] = P174['HS6'] // 100

P174.to_excel(f'C:/TradeGroup/Reports/Eurasia/P174_Cleaned_Totest.xlsx',index=False)

In [100]:
P174['HS Code '] = P174['HS Code '].str.replace(" ", "")
P174['HS Code '] = P174['HS Code '].str.replace("ex", "")
P174 = P174.dropna(axis=0)
P174['Tcode']= P174['HS Code '].astype('float')
P174['HS6']= P174['HS Code '].astype('float')

P174 = P174.reset_index(drop=True)
P174.loc[(P174['HS6'] / 100000000 > 10), 'HS6'] = P174['HS6'] // 10000
P174.loc[(P174['HS6'] / 1000000 > 10), 'HS6'] = P174['HS6'] // 100

P174

,HS Code,Description,Tariff Preferences,Tcode,HS6
0,030211,"– – Trout (Salmo trutta, Oncorhynchus mykiss,",Bound 40%,30211.0,30211.0
1,030273,"– – Carp (Cyprinus spp., Carassius spp., Cteno...",MFN,30273.0,30273.0
2,030289,– – Other,MFN,30289.0,30289.0
3,030311,– – Sockeye salmon (red salmon) (Oncorhynchus ...,MFN,30311.0,30311.0
4,030312,– – Other Pacific salmon (Oncorhynchus gorbusc...,MFN,30312.0,30312.0
...,...,...,...,...,...
814,988702,C.K.D. parts for manufacturing buses and minib...,MFN,988702.0,988702.0
815,988703,C.K.D. parts for manufacturing motor vehicles ...,MFN,988703.0,988703.0
816,988704,C.K.D. parts for manufacturing motor vehicles ...,MFN,988704.0,988704.0
817,988711,C.K.D. parts for manufacturing power motorcycl...,MFN,988711.0,988711.0
818,988712,Knocked down parts to build a bike,MFN,988712.0,988712.0

In [104]:
P226['HS Code '] = P226['HS Code '].str.replace(" ", "")
P226['HS Code '] = P226['HS Code '].str.replace("ex", "")
P226 = P226.dropna(axis=0)
P226['Tcode']= P226['HS Code '].astype('float')
P226['HS6']= P226['HS Code '].astype('float')

P226 = P226.reset_index(drop=True)
P226.loc[(P226['HS6'] / 100000000 > 10), 'HS6'] = P226['HS6'] // 10000
P226.loc[(P226['HS6'] / 1000000 > 10), 'HS6'] = P226['HS6'] // 100
P226.to_excel(f'C:/TradeGroup/Reports/Eurasia/P226_Cleaned_Totest.xlsx',index=False)

,HS Code,Description,In Quota,Out of Quota Rate of,Tcode,HS6
0,020711,"– – Not cut in pieces, fresh or chilled","5 000 tons per year,",MFN,20711.0,20711.0
1,040410,"– Whey and modified whey, whether or not conce...","300 tons per year,",MFN,40410.0,40410.0
2,071310,– Peas (Pisum sativum),"300 tons per year,",Reduction,71310.0,71310.0
3,07132010,– – – Beans,"25 000 tons per year,",Reduction,7132010.0,7132010.0
4,071333,"– – Kidney beans, including white pea beans (P...","3 000 tons per year,",Bound 5%,71333.0,71333.0
5,100119,– – Other,"200 000 tons per year,",MFN,100119.0,100119.0
6,100199,– – Other,"3 million tons per year,",Bound 10%,100199.0,100199.0
7,100390,– Other,"1.5 million tons per year,",Bound 5% from August,100390.0,100390.0
8,120600,"Sunflower seeds, whether or not broken","100 000 tons per year,",Bound 10%,120600.0,120600.0
9,151211,– – Crude oil,"500 000 tons per year,",Reduction,151211.0,151211.0
10,151411,– – Crude oil,"200 000 tons per year,",Reduction,151411.0,151411.0
11,151620,– Vegetable fats and oils and their fractions,"5 000 tons per year,",MFN,151620.0,151620.0
12,151710,"– Margarine, excluding liquid margarine","5 000 tons per year,",MFN,151710.0,151710.0
13,170199,– – Other,"100 000 tons per year,",MFN,170199.0,170199.0