In [2]:
import pandas as pd
import numpy as np
import os

os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

In [5]:
Tamin_Arz = pd.read_excel(f'C:/TradeGroup/Reports/ArzTakhsisi_Alpha.xlsx')

Tamin_Arz

,Samaneh,Bank,Sabt_Sefaresh,Arz_Value,Arz_Type,Tcode,Tdesc,Motaghazi,National_ID,National_Code,...,HS6_E,HS6_F,HS4,HS2,HS4_E,HS4_F,Harvard_F,HS2_F,Harvard_E,HS2_E
0,تامین,بانک شهر,94967166.0,1067644.94,یورو,10059010,دانه ذرت دامی، فاقد بسته‌بندی تجاری، غیر تراریخته,صبا پيشرو کالا,383752418.0,1.400482e+10,...,Maize except seed corn,ذرت به جز ذرت دانه‌ای,1005,10,Corn,ذرت,کشاورزی,غلات,Agriculture,Cereals
1,تامین,بانک شهر,94967166.0,5338.22,یورو,99460200,حق الزحمه تبديل و کارمزد انتقال ارز,صبا پيشرو کالا,383752418.0,1.400482e+10,...,Conversion fee and currency transfer fee,حق الزحمه تبديل و کارمزد انتقال ارز,9946,99,fee,حق‌الزحمه,سایر,سایر,Other,Other
2,تامین,بانک پاسارگاد,95948166.0,13538122.61,یورو,10059010,دانه ذرت دامی، فاقد بسته‌بندی تجاری، تراریخته,آوا تجارت صبا,839534205.0,1.032051e+10,...,Maize except seed corn,ذرت به جز ذرت دانه‌ای,1005,10,Corn,ذرت,کشاورزی,غلات,Agriculture,Cereals
3,تامین,بانک پاسارگاد,95948166.0,67690.61,یورو,99460200,حق الزحمه تبديل و کارمزد انتقال ارز,آوا تجارت صبا,839534205.0,1.032051e+10,...,Conversion fee and currency transfer fee,حق الزحمه تبديل و کارمزد انتقال ارز,9946,99,fee,حق‌الزحمه,سایر,سایر,Other,Other
4,تامین,بانک کشاورزی,85375336.0,39750.00,یورو,30049092,سل سپت قرص خوراکی 500 mg,يارا طب خاورميانه,72381582.0,1.010324e+10,...,"Medicaments nes, in dosage",داروها، در دوز,3004,30,"Medicaments, packaged",داروها، بسته بندی شده,محصولات شیمیایی,محصولات دارویی,Chemicals,Pharmaceutical products
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639753,نیما,بانک تجارت,27219680.0,78214.36,یورو,85414100,ديود، LED، نصب SMD، سازنده BRIGHTEK OPTOELECTR...,صنايع توليدي کروز,NaN,1.010108e+10,...,Photosensitive/photovoltaic/LED semiconductor...,دستگاه‌های نیمه‌هادی حساس به نور/فتوولتائیک/LED,8541,85,Semiconductor devices,دستگاه‌های نیمه‌هادی,وسایل الکترونیکی,ماشین‌آلات و تجهیزات الکتریکی,Electronics,Electrical machinery and equipment
639754,نیما,بانک تجارت,28390645.0,23871.17,دلار آمریکا,39076110,گرانول پلي اتيلن ترفتالات، كاربرد نساجي، گريد ...,توليدي ايران نو بافت,NaN,1.026023e+10,...,"Polyethylene terephthalate, in primary forms",پلی اتیلن ترفتالات، در اشکال اولیه,3907,39,Polyacetals,پلی استال ها,محصولات شیمیایی,پلاستیک‌ها,Chemicals,Plastics
639755,نیما,بانک تجارت,25603740.0,1905560.00,درهم امارات,39076110,چیپس پلی استر,قيام نخ,NaN,1.010327e+10,...,"Polyethylene terephthalate, in primary forms",پلی اتیلن ترفتالات، در اشکال اولیه,3907,39,Polyacetals,پلی استال ها,محصولات شیمیایی,پلاستیک‌ها,Chemicals,Plastics
639756,نیما,بانک تجارت,22383207.0,148005.81,دلار آمریکا,85171390,تلفن همراه، دو سيم كارت، حافظه 128 GB، SAMSUNG...,رايکا تجارت آريا همراه,NaN,1.400975e+10,...,Telephone sets,دستگاه‌های تلفن,8517,85,Telephones,تلفن‌ها,وسایل الکترونیکی,ماشین‌آلات و تجهیزات الکتریکی,Electronics,Electrical machinery and equipment
639757,نیما,بانک صادرات ایران,28884029.0,565974.15,درهم امارات,44071190,الوار، نوع معمولي، مستطيلي، از چوب نراد، سازند...,بين المللي سپند مهر خالق خزر,NaN,1.400934e+10,...,"Lumber, coniferous (softwood) thickness < 6 mm",الوار، مخروطی (چوب نرم) ضخامت < 6 میلی متر,4407,44,Wood sawn lengthwise,چوب اره‌شده از طول,کشاورزی,چوب,Agriculture,Wood

In [23]:
Tamin_Arz_By_Group = Tamin_Arz.groupby(['Tcode',' Takhsis_Type']).agg(
    MDollars =('MDollars','sum')
).reset_index()

Tamin_Arz_By_Group['Share'] = Tamin_Arz_By_Group['MDollars']/Tamin_Arz_By_Group.groupby('Tcode')['MDollars'].transform('sum')

Tamin_Arz_By_Group
#
# Tamin_Arz_By_Group.to_excel(f'C:/TradeGroup/Reports/Codes_Repeated_Varedat_Arz_Type_Shares.xlsx')

         Tcode   Takhsis_Type      MDollars         Share
0            0   بازار ثانویه  4.041003e+00  9.920517e-01
1            0      ارز اشخاص  1.000000e-08  2.454964e-09
2            0         ترجیحی  3.237646e-02  7.948305e-03
3      1012100      ارز اشخاص  3.451953e+00  1.000000e+00
4      1022140         ترجیحی  5.503078e-01  1.000000e+00
...        ...            ...           ...           ...
8098  99970000      ارز اشخاص  1.943974e+02  6.831864e-01
8099  99970000       تالاردوم  3.356227e+00  1.179506e-02
8100  99970100   بازار ثانویه  7.802280e+01  9.486738e-01
8101  99970100      ارز اشخاص  2.674079e-01  3.251394e-03
8102  99970100       تالاردوم  3.953868e+00  4.807481e-02

[8103 rows x 4 columns]

In [29]:
max_idx = Tamin_Arz_By_Group.groupby('Tcode')['Share'].idxmax()
max_idx = max_idx.dropna()  # Remove NaN values from max_idx

Tamin_Arz_By_Group.reset_index(inplace=True, drop=True)
filtered_df_new = Tamin_Arz_By_Group.loc[max_idx]
filtered_df_new

         Tcode   Takhsis_Type    MDollars     Share
0            0   بازار ثانویه    4.041003  0.992052
3      1012100      ارز اشخاص    3.451953  1.000000
4      1022140         ترجیحی    0.550308  1.000000
5      1022900         ترجیحی   50.511689  1.000000
7      1041010         ترجیحی    1.561734  1.000000
...        ...            ...         ...       ...
8093  99830200      ارز اشخاص   68.695785  1.000000
8094  99840000   بازار ثانویه    9.184283  0.685707
8096  99960200      ارز اشخاص   74.308260  1.000000
8098  99970000      ارز اشخاص  194.397387  0.683186
8100  99970100   بازار ثانویه   78.022796  0.948674

[4576 rows x 4 columns]

In [37]:
Tamin_Arz_By_Group['IsMax'] = Tamin_Arz_By_Group.groupby('Tcode')['Share'].transform(lambda x: x.eq(x.max()).astype(int))
Tamin_Arz_By_Group_unique = Tamin_Arz_By_Group[Tamin_Arz_By_Group['IsMax']==1]

Tamin_Arz_By_Group_unique_rows=Tamin_Arz_By_Group_unique[['Tcode',' Takhsis_Type']]

Tamin_Arz_By_Group_unique_rows.to_excel(f'C:/TradeGroup/Data/Dashboard/Tkhsis_Type_for_Dashboard.xlsx', index=False)

In [11]:
Tamin_Arz_Coloumns = Tamin_Arz[['Tcode',' Takhsis_Type']]

Tamin_Arz_Coloumns

Tamin_Arz_Coloumns_unique = Tamin_Arz_Coloumns.drop_duplicates()

Tamin_Arz_Coloumns_unique

           Tcode  Takhsis_Type
0       10059010        ترجیحی
1       99460200        ترجیحی
4       30049092        ترجیحی
10      12099115        ترجیحی
13      12099190        ترجیحی
...          ...           ...
637059  70197300      تالاردوم
637064  81092100      تالاردوم
637327  60053800      تالاردوم
638062  81092900      تالاردوم
638229  39072910      تالاردوم

[8103 rows x 2 columns]

In [22]:
counts = Tamin_Arz_Coloumns_unique['Tcode'].value_counts()

# Filter the DataFrame to keep only rows with values appearing more than once in the first column
filtered_df = Tamin_Arz_Coloumns_unique.loc[Tamin_Arz_Coloumns_unique['Tcode'].isin(counts[counts > 1].index)]

#filtered_df.to_excel(f'C:/TradeGroup/Reports/Codes_Repeated_Varedat_Arz_Type.xlsx')

filtered_df

           Tcode  Takhsis_Type
1       99460200        ترجیحی
4       30049092        ترجیحی
10      12099115        ترجیحی
16      30043912        ترجیحی
60      10039000        ترجیحی
...          ...           ...
634921  84193500      تالاردوم
635260  84602400      تالاردوم
635644  90278930      تالاردوم
635712  84626300      تالاردوم
638229  39072910      تالاردوم

[6534 rows x 2 columns]

In [13]:
Just_Tcode = Tamin_Arz[['Tcode']]

Just_Tcode.drop_duplicates(inplace=True)

Just_Tcode

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_2684\1268267691.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Just_Tcode.drop_duplicates(inplace=True)

           Tcode
0       10059010
1       99460200
4       30049092
10      12099115
13      12099190
...          ...
637017  38273200
637059  70197300
637064  81092100
637327  60053800
638062  81092900

[4577 rows x 1 columns]