In [3]:
import pandas as pd
import numpy as np
import os
import fuzzymatcher
import difflib

In [4]:
# Set the working directory
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

create_folder('Data/Indices')

Already Exists

In [5]:
# def replace_arabic_characters(text):
#    text = text.replace('ي', 'ی')
#    text = text.replace('ك', 'ک')


def replace_arabic_characters(df):
    for col in df.columns:
        df[col] = df[col].apply(lambda x: str(x).replace('ي', 'ی'))
        df[col] = df[col].apply(lambda x: str(x).replace('ك', 'ک'))


    return df

In [6]:
year=1392
exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")
imports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Imports.xlsx")

print(year)

Exports = pd.read_excel(exports_path)
Imports = pd.read_excel(imports_path)

1392

In [7]:
Imports = Imports.dropna(subset=['Tcode'])
Exports = Exports.dropna(subset=['Tcode'])

In [8]:
Country_Names= pd.read_excel(f'{my_wd}/Country_Names_Long.xlsx')
Country_Names

            FarsiName           EnglishName                Country
0    جمهوری آذربایجان            Azerbaijan              آذربايجان
1            آرژانتین             Argentina               آرژانتین
2              آلبانی                Albani                 آلباني
3               آلمان               Germany                  آلمان
4               اتریش               Austria                  اتريش
..                ...                   ...                    ...
332    لتونی (لاتویا)                Latvia                  لاتوي
333              کنگو                 Congo  جمهوري دموكراتيك كنگو
334        تیمور شرقی           Timor-Leste             تیمور شرقی
335            برونئی                Bronei                 برونئي
336           داغستان  Republic of Dagestan               دا غستان

[337 rows x 3 columns]

In [9]:
Exports

,Year,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars
0,1392,جلفا,آذربايجان,69101000.0,ظرفشوئي...وسايرا دوا ت ثابت بهدا شتي ا زچيني.,775065.0,1.924014e+10,772446.50
1,1392,باشماق,عراق,7031000.0,پيازوموسير,8895753.0,7.348684e+10,2956247.30
2,1392,شهيدرجايي,امارات متحده عربي,72031000.0,محصولات آهني حاصل ا زا حياءمستقيم کلوخه هاي مع...,1026425.0,8.762086e+09,359248.00
3,1392,مشهد,افغانستان,84501990.0,سايرماشينهاي رختشويي خانگي ياغيرخانگي باظرفيت ...,23012.0,2.862838e+09,115226.35
4,1392,اصفهان,تركيه,27129020.0,اسلاك واكس (Slack Wax)_x000D_\n,1231678.0,2.136089e+10,862023.18
...,...,...,...,...,...,...,...,...
35686,1392,معاونت صادرات تهران,جمهوري متحده تانزانيا,6039000.0,ساير غير از اقلام مشمول رديفهاي 06031100 لغايت...,120.0,5.949600e+07,2400.00
35687,1392,خرم آباد,تركيه,68022900.0,ساير سنگهاي تراشه پذير يا سنگهاي ساختمان واشيا...,22024.0,1.929654e+08,7784.00
35688,1392,دوغارون,افغانستان,73211900.0,"وسائل خورا ک پزي, خورا ک گرم کن, باسوخت جامد,...",1700.0,6.580938e+07,2652.00
35689,1392,تبريز,عراق,70099100.0,آينه هاي شيشه ا ي قاب نشده (باستثناءآينه هاي ع...,13806.0,2.738056e+08,11045.00
35690,1392,حوزه تجاري فرودگاه امام خميني,عراق,49011000.0,"کتاب, بروشور,جزوه ومطبوعات چاپ شده همانندبصورت...",1300.0,1.290536e+08,5200.00

In [10]:
Exports = replace_arabic_characters(Exports)
Imports = replace_arabic_characters(Imports)

In [11]:
Country_Names = replace_arabic_characters(Country_Names)
#Country_Names_dag=Country_Names[Country_Names['Country']=="داغستان"]
Country_Names = Country_Names.drop_duplicates()
Country_Names

,FarsiName,EnglishName,Country
0,جمهوری آذربایجان,Azerbaijan,آذربایجان
1,آرژانتین,Argentina,آرژانتین
2,آلبانی,Albani,آلبانی
3,آلمان,Germany,آلمان
4,اتریش,Austria,اتریش
...,...,...,...
331,جمهوری مقدونیه (یوگسلاوی سابق),North Macedonia,جمهوری مقدونیه(یوگسلاوی)
332,لتونی (لاتویا),Latvia,لاتوی
333,کنگو,Congo,جمهوری دموکراتیک کنگو
334,تیمور شرقی,Timor-Leste,تیمور شرقی
336,داغستان,Republic of Dagestan,دا غستان

In [12]:
Imports_Names = Imports.merge(Country_Names,on='Country',how='left')
Exports_Names = Exports.merge(Country_Names,on='Country',how='left')
Imports_Names

,Year,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,FarsiName,EnglishName
0,1392,معاونت واردات و ترانزیت تهران,فرانسه,84821000,بلبرینگ.,69625.0,38354748993.8,1551638.04,فرانسه,France
1,1392,یزد,چین,85122090,دستگاههای روشنایی یا علامت دا دن بصری غیرمذ...,139.0,43644143.0,1761.34,چین,Chine
2,1392,منطقه ازاد بندر انزلی,قبرس,72083900,محصولات از آهن یافولادغیر ممزوج تخت وگرم نوردش...,38153986.0,603032608637.0,24407623.75,قبرس,Cyprus
3,1392,شهیدرجایی,چین,59032000,پارچه های نسجی آغشته، اندوده ، پوشانده یا منطب...,633435.0,29642137774.8,1195404.66,چین,Chine
4,1392,منطقه آزادچابهار,منطقه آزاد چابهار,85185000,دستگاه های برقی تقویت کننده صوت,8650.0,947819431.0,38247.13,منطقه آزاد چابهار,Chabahar Free Zone
...,...,...,...,...,...,...,...,...,...,...
65646,1392,بازرگان,ترکیه,70195200,پارچه های تاروپود باف ا زا لیاف شیشه بعرض بیشت...,4255.0,349815117.0,14111.71,ترکیه,Turkey
65647,1392,شهیدرجایی,امارات متحده عربی,76061110,ورق کامپوزیتی,23632.0,1353170076.0,54587.52,امارات متحده عربی,United Arab Emirates
65648,1392,حوزه تجاری فرودگاه امام خمینی,فرانسه,39042200,"پلی کلرور وینیل مخلوط نرم شده , به ا شکال ...",70.0,11363319.0,458.75,فرانسه,France
65649,1392,معاونت واردات و ترانزیت تهران,چین,73159000,"ا جزا ءوقطعات زنجیر,که درجای دیگرگفته نشده ا ز...",412.0,31564701.32,1273.34,چین,Chine
65650,1392,بندر امام خمینی,تایوان,85182910,انواع بلندگوی خودرو,6065.0,291266005.0,11758.82,تایوان,Taiwan

In [13]:
Imports_Names[Imports_Names['FarsiName'].isnull()]

Empty DataFrame
Columns: [Year, Custom, Country, Tcode, Tdesc, Weight, Rials, Dollars, FarsiName, EnglishName]
Index: []

In [16]:
Exports_Names[Exports_Names['FarsiName'].isnull()]['Country'].unique()

array(['داغستان ', 'نی ئو'], dtype=object)

In [43]:
a=np.array(Exports_dag1['Country'].unique)
a

array(<bound method Series.unique of 0                            داغستان
1    منطقه ویژه اقتصادی صنایع ومعادن
2                            داغستان
3                            داغستان
Name: Country, dtype: object>, dtype=object)

In [48]:
New_Exports=fuzzymatcher.fuzzy_left_join(Exports, Country_Names, left_on = "Country", right_on = "Country")
New_Exports[New_Exports['FarsiName'].isnull()]

Empty DataFrame
Columns: [best_match_score, __id_left, __id_right, Year, Custom, Country_left, Tcode, Tdesc, Weight, Rials, Dollars, FarsiName, EnglishName, Country_right]
Index: []

In [49]:
New_Exports

,best_match_score,__id_left,__id_right,Year,Custom,Country_left,Tcode,Tdesc,Weight,Rials,Dollars,FarsiName,EnglishName,Country_right
0,0.089223,0_left,63_right,1391,باشماق,عراق,84796010.0,کولرهای آبی خانگی با هوا دهی حدا کثر 8000 فو...,4266875.0,169801225279.0,12822991.1,عراق,Iraq,عراق
1,0.089223,1_left,63_right,1391,تبریز,عراق,70051030.0,شیشه فلوت ،ساییده وصیقل شده مسلح نشده با ضخا...,12348910.0,59512146452.0,3802854.72,عراق,Iraq,عراق
2,0.089223,2_left,63_right,1391,بندر نوشهر,عراق,4014000.0,شیر وخامه شیر که میزان مواد چرب آن از لحاظ وزن...,761828.0,35810436354.0,2286084.0,عراق,Iraq,عراق
3,0.089223,3_left,63_right,1391,بندر نوشهر,عراق,4039090.0,"دوغ, شیر وخامه بسته بندی شده کفیر و سایر ش...",688854.0,5401115037.0,378965.0,عراق,Iraq,عراق
4,0.089223,4_left,63_right,1391,پرویزخان,عراق,20029010.0,رب گوجه فرنگی,26403303.0,641498357967.0,45771260.46,عراق,Iraq,عراق
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38288,0.079189,34397_left,110_right,1391,معاونت صادرات تهران,گرجستان,69139010.0,مجسمه وسایر اشیاءتزئینی (به استثنای چینی )ازسر...,650.0,23907000.0,1950.0,گرجستان,Georgia,گرجستان
38290,0.089223,34398_left,9_right,1391,معاونت صادرات تهران,استرالیا,8109020.0,زرشک تازه,504.0,55611360.0,4536.0,استرالیا,Australia,استرالیا
38291,0.089223,34399_left,63_right,1391,ایلام,عراق,42021200.0,"رختدا ن, چمدا ن, کیف (برزک, ا سناد,مدرسه )ومحف...",1532.0,157761680.0,12868.0,عراق,Iraq,عراق
38292,0.089223,34400_left,24_right,1391,مشهد,بحرین,74199990.0,مصنوعات دیگرازمس که درجای دیگر گفته نشده است,294.0,10825668.0,441.0,بحرین,Bahrain,بحرین
38293,0.079189,34401_left,0_right,1391,آستارا,آذربایجان,84162000.0,مشعل های کوره برا ی سوخت جامدیاگاز(همچنین مشعل...,450.0,49687425.0,2025.0,جمهوری آذربایجان,Azerbaijan,آذربایجان