In [20]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

In [21]:
Iran_to_Indonasia=pd.read_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Be.xlsx")
Iran_to_Indonasia['شماره تعرفه'].fillna(0,inplace=True)
Iran_to_Indonasia['HS8']=Iran_to_Indonasia['شماره تعرفه'].astype(int)
Iran_Exports_Codes = pd.unique(Iran_to_Indonasia['HS8'])
Iran_Exports_Codes

My_Excel_File=pd.ExcelFile(f"C:/TradeGroup/Reports/Iran-Indonasia-Alef.xlsx")
dfs = []
for sheet_name in My_Excel_File.sheet_names:
    df= My_Excel_File.parse(sheet_name)
    dfs.append(df)

The_Commodities = pd.concat(dfs,ignore_index=True)
The_Commodities.rename(columns={'شماره تعرفه':"HS8"},inplace=True)
The_Commodities['HS8']=pd.to_numeric(The_Commodities['HS8'])
Iran_Imports_Codes = pd.unique(The_Commodities['HS8'])

In [23]:
year = 1398
baseyear = 1398
for year in range(1398,1403):
    exports_file_path = f"{my_wd}/Data/Cleaned_Data/Y{year}Exports.xlsx"

    Exports = pd.read_excel(exports_file_path)


    Exports_HSs = Exports.groupby('Tcode').agg(
        Dollars = ('Dollars','sum')
    ).reset_index()

    Exports_HSs.columns=Exports_HSs.columns.str.replace("Dollars",f'Dollars_{year}')

    Exports_HSs['Tarjihi']=np.where(np.isin(Exports_HSs['Tcode'], Iran_Exports_Codes),1,0 )


    Exports_HSs[f'rank_{year}'] = Exports_HSs[f'Dollars_{year}'].rank(ascending= False)


    if year == baseyear:
        Exports_HSs_Series = Exports_HSs
    else:
        Exports_HSs_Series = Exports_HSs_Series.merge(Exports_HSs, on=['Tcode','Tarjihi'], how='outer')
        Exports_HSs_Series.fillna(0, inplace= True) 


Exports_HSs_Series

,Tcode,Dollars_1398,Tarjihi,rank_1398,Dollars_1399,rank_1399,Dollars_1400,rank_1400,Dollars_1401,rank_1401,Dollars_1402,rank_1402
0,1022110.0,2.331740e+05,0,1515.0,0.0,0.0,0.0,0.0,196434.0,1720.0,1493588.0,871.0
1,1041090.0,3.521082e+05,0,1321.0,0.0,0.0,5155679.0,478.0,37769661.0,164.0,1008982.0,1026.0
2,1051110.0,7.240000e+04,0,2057.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1051140.0,7.559900e+04,0,2041.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1051150.0,1.002669e+06,0,890.0,3717511.0,496.0,0.0,0.0,1887473.0,793.0,53942.0,2442.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6023,95049010.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15869.0,3053.0
6024,95066930.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3937.0,3660.0
6025,96082090.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0,4321.5
6026,97019200.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2214.0,3818.0
6027,97029000.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2001.0,3848.0

In [24]:
columns = [f'Dollars_{year}' for year in range(1398,1403)]

Exports_HSs_Series[f'Total_Dollars']=Exports_HSs_Series[columns].sum(axis=1)

Exports_HSs_Series['Share_Total']= Exports_HSs_Series['Total_Dollars']/Exports_HSs_Series['Total_Dollars'].sum()

Exports_HSs_Series['Rank'] = Exports_HSs_Series['Total_Dollars'].rank(ascending= False)

Exports_HSs_Series

,Tcode,Dollars_1398,Tarjihi,rank_1398,Dollars_1399,rank_1399,Dollars_1400,rank_1400,Dollars_1401,rank_1401,Dollars_1402,rank_1402,Total_Dollars,Share_Total,Rank
0,1022110.0,2.331740e+05,0,1515.0,0.0,0.0,0.0,0.0,196434.0,1720.0,1493588.0,871.0,1.923196e+06,9.540903e-06,1503.0
1,1041090.0,3.521082e+05,0,1321.0,0.0,0.0,5155679.0,478.0,37769661.0,164.0,1008982.0,1026.0,4.428643e+07,2.197033e-04,382.0
2,1051110.0,7.240000e+04,0,2057.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.240000e+04,3.591737e-07,3591.0
3,1051140.0,7.559900e+04,0,2041.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.559900e+04,3.750438e-07,3561.0
4,1051150.0,1.002669e+06,0,890.0,3717511.0,496.0,0.0,0.0,1887473.0,793.0,53942.0,2442.0,6.661595e+06,3.304792e-05,956.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,95049010.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15869.0,3053.0,1.586900e+04,7.872551e-08,4590.0
6024,95066930.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3937.0,3660.0,3.937000e+03,1.953131e-08,5235.0
6025,96082090.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0,4321.5,9.700000e+01,4.812134e-10,5957.5
6026,97019200.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2214.0,3818.0,2.214000e+03,1.098357e-08,5425.0
6027,97029000.0,0.000000e+00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2001.0,3848.0,2.001000e+03,9.926886e-09,5458.0

In [25]:
Exports_uniques = Exports[['Tcode','Tdesc']]
Exports_uniques = Exports_uniques.drop_duplicates().dropna()

Exports_uniques

             Tcode                                              Tdesc
0       84132000.0   تلمبه هاي دستي، غير از آن هايي كه مشمول شماره...
1       85078000.0                                     ساير انباره ها
2        9092110.0    تخم گشنيز خرد نشده وسابيده نشده در بسته بندي...
3       44191990.0                                               سایر
4       44191190.0                                               سایر
...            ...                                                ...
183477  38091000.0  مواد براي آهارزدن يا تکميل کردن، حاملين رنگ بر...
183518  97019200.0              موزاییک ها  با قدمتی کمتر از 100 سال
183815  54023100.0  نخ تکستوره، ازنايلون يا ساير پلي آميدها، باا ن...
184193  70031210.0  ورقهاي مسلح نشده با سيم ا ز شيشه اپتيکي رنگ شد...
184209  12071000.0                 هسته ميوه نخل و مغز آن حتي خرد شده

[4385 rows x 2 columns]

In [26]:
Exports_HSs_Series_Tdesc = Exports_uniques.merge(Exports_HSs_Series, on='Tcode', how = 'right')

Exports_HSs_Series_Tdesc.to_excel(f"C:/TradeGroup/Reports/Iran_Exports_Ranking.xlsx", index= False)