In [68]:
import pandas as pd
import numpy as np
import os
import fuzzymatcher
import difflib

In [65]:
# Set the working directory
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

Country_Names= pd.read_excel(f'{my_wd}/Country_Names.xlsx')
Country_Names

,EnglishName,Other1,Other2,Other3,Other4,FarsiName
0,Azerbaijan,آذربايجان,جمهوري آذربايجان,NaN,NaN,جمهوری آذربایجان
1,Argentina,آرژانتین,آرژانتين,NaN,NaN,آرژانتین
2,Albani,آلباني,NaN,NaN,NaN,آلبانی
3,Germany,آلمان,NaN,NaN,NaN,آلمان
4,Austria,اتريش,NaN,NaN,NaN,اتریش
...,...,...,...,...,...,...
207,Haiti,هائیتی,NaN,NaN,NaN,هائیتی
208,Bermuda,برمودا,NaN,NaN,NaN,برمودا
209,Sherkat Khadamat Foroushgahi Jam,شرکت خدمات فرودگاهی فراجم,NaN,NaN,NaN,شرکت خدمات فروشگاهی جم
210,Republic of Dagestan,داغستان,داغستان,NaN,NaN,داغستان
211,Mantaghe Vizhe Sanaye va Ma'aden,منطقه ویژه اقتصادی صنایع ومعادن,NaN,NaN,NaN,منطقه ویژه اقتصادی صنایع و معادن

In [66]:
Country_Names_Long = pd.melt(Country_Names, id_vars=['FarsiName','EnglishName'], value_vars=["Other1",'Other2','Other3','Other4'], value_name='Country')

#Country_Names_Long = pd.wide_to_long(Country_Names,stubnames="Country",i=["Other1",'Other2','Other3','Other4'],j=['EnglishName','FarsuName'])
Country_Names_Long=Country_Names_Long.drop('variable',axis=1)
Country_Names_Long=Country_Names_Long.dropna(subset="Country")
Country_Names_Long

                          FarsiName      EnglishName                   Country
0                  جمهوری آذربایجان       Azerbaijan                 آذربايجان
1                          آرژانتین        Argentina                  آرژانتین
2                            آلبانی           Albani                    آلباني
3                             آلمان          Germany                     آلمان
4                             اتریش          Austria                     اتريش
..                              ...              ...                       ...
738  جمهوری مقدونیه (یوگسلاوی سابق)  North Macedonia  جمهوری مقدونيه(یوگسلاوی)
768                  لتونی (لاتویا)           Latvia                     لاتوي
782                            کنگو            Congo     جمهوري دموكراتيك كنگو
805                      تیمور شرقی      Timor-Leste                تیمور شرقی
806                          برونئی           Bronei                    برونئي

[335 rows x 3 columns]

In [67]:
Country_Names_Long.to_excel(f'{my_wd}/Country_Names_Long.xlsx',index=False)