In [1]:
import pandas as pd
import numpy as np
import os
import openpyxl
import xlrd

In [16]:
All_Years = pd.DataFrame()
years = ['1395','1396','1397','1398','1399','1400','1401','1402','1403-6']
for year in years:
    My_Df = pd.read_excel(f'C:/TradeGroup/Reports/Hoghough_Voroudi_Detailed_Timeseries.xlsx',sheet_name=year)

    if year=='1403-6':
        My_Df['Year']=1403
    else:
        My_Df['Year']=int(year)    

    conditions = [
        (My_Df['Hperc'] == 0),             
        ((My_Df['Hperc'] > 0) & (My_Df['Hperc'] <= 5)),
        ((My_Df['Hperc'] > 5) & (My_Df['Hperc'] <= 10)),
        ((My_Df['Hperc'] > 10) & (My_Df['Hperc'] <= 20)),
        ((My_Df['Hperc'] > 20) & (My_Df['Hperc'] <= 50)),
        ((My_Df['Hperc'] > 50) & (My_Df['Hperc'] <= 100)),
        ((My_Df['Hperc'] > 100))
    ]

    choices = [
        'Zero',
        'from 0 to 5',
        'from 5 to 10',
        'from 10 to 20', 
        'from 20 to 50',   
        'from 50 to 100',
        'more than 100'
    ]

    # Use np.select() to generate the new column 'B'
    My_Df['HPerc_Cat'] = np.select(conditions, choices, default='other')

    By_HPerc_Cat = My_Df.groupby(['Year','HPerc_Cat']).agg(
        Value_R = ('Rials','sum'),
        Value_D = ('Dollars','sum'),
        HSum_R = ('Hsum','sum'),
        Codes_Count = ('Tcode','count')
        
        
    ).reset_index()

    All_Years = pd.concat([All_Years,By_HPerc_Cat])

    


All_Years

,Year,HPerc_Cat,Value_R,Value_D,HSum_R,Codes_Count
0,1395,Zero,2.540685e+12,7.945616e+07,0,52
1,1395,from 0 to 5,3.570041e+14,1.142820e+10,11260324804909,846
2,1395,from 10 to 20,2.879769e+14,9.156304e+09,42653890938648,1378
3,1395,from 20 to 50,2.476559e+14,7.896965e+09,77186815721754,1063
4,1395,from 5 to 10,5.676541e+14,1.807687e+10,36948610312565,2127
...,...,...,...,...,...,...
2,1403,from 10 to 20,8.915204e+14,3.128379e+09,122404937034734,533
3,1403,from 20 to 50,3.236778e+14,1.135813e+09,105305115818955,236
4,1403,from 5 to 10,1.259232e+15,4.520703e+09,89976869405868,944
5,1403,from 50 to 100,1.408646e+14,4.947095e+08,88175926357184,41
6,1403,more than 100,2.830951e+12,1.074467e+07,3091229639310,6

In [11]:
year

*list['1395']